{{#if resume.projects.length}}
    <div class="pageBreak"></div>
    <div class="sectionBlock">
        <div class='sectionContent'>
            <span class='sectionName'>Projects</span>
            {{#each resume.projects}}
                <div class="jobBlock">
                    <div class='blockHeader'>
                        {{#if name}}
                            <span class='company'>{{name}}</span>
                        {{/if}}
                    </div>
                    {{#if description}}<p class="summary" style="white-space: pre-line">{{add-dot description}}</p>{{/if}}
                    {{#if highlights.length}}
                        <ul>
                            {{#each highlights}}
                                <li>{{add-dot .}}</li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#unless @last}}
                        <div class='sectionLine'></div>
                    {{/unless}}
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}